.a{
  color: red;
}
.data{
  border-radius: 10px;
  padding: 50px;
  width: 25%;
  margin: 10% auto;
  box-shadow: 4px 4px 10px blue;
}
.data h1{
  color: red;
}
.form{
  width: 30%;
  border: 1px solid;
  padding: 20px;
  margin: 12% auto;
  border-radius: 20px;
}
label{
  color: brown;
  font-weight: 500;
}
button{
  padding: 5px;
  margin-left:10% ;
  width: 200px;
  margin-bottom: 20px;
}
.form h1{
  text-align: center;
  color: darkblue;
}
form{
  margin-left: 22%;
}
b{
  color: orangered;
}
.dd{
  display: flex;
  flex-wrap: wrap;
}
button:hover{
  background-color: blue;
  border: none;
}